.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.justify-end{
    justify-content: end;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.container{
    width: 85%;
}